opencv-python
numpy
torch
torchvision
torchaudio
insightface
onnxruntime
ultralytics
Pillow
pytesseract
fastapi
uvicorn
aiohttp
aiofiles
pandas
pydantic
python-dotenv
requests
transformers
brotlipy
requests
cloudscraper
gspread
redis